body {
    background: url(../Images/brick-wallpaper-112768510349JN4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.navbar-brand {
   font-size: 2rem;
}


img {
    max-width: 350px;
    max-height: 350px;
} */

/* #headshot {
    width: 300px;
    height: 300px;
} */

/* .col-sm col-md-6 col-lg-9 {
    position: absolute;
    margin-bottom: 10px;
} */
