.navbar-brand {
   font-size: 2rem;
}


main {
    margin: auto;
    width: 90%;
}

img {
    max-width: fit-content;
    max-height: fit-content;
}

/* #headshot {
    width: 300px;
    height: 300px;
} */

/* .col-sm col-md-6 col-lg-9 {
    position: absolute;
    margin-bottom: 10px;
} */
