.navbar-brand {
   font-size: 2rem;
}

main {
    margin: auto;
    width: 80%;
}

#headshot {
    width: 250px;
    height: 250px;
}

/* .col-sm col-md-6 col-lg-9 {
    position: absolute;
    margin-bottom: 10px;
} */
